openapi: '3.0.0'
info:
  title: 'order API'
  version: '1.0.0'
  description: 'Описание REST API сервиса billing'
  contact:
    name: 'Галямеев Адель'
    email: 'adelbabai37@gmail.com'
servers: 
  - url: 'http://arch.homework'
    description: 'arch.homework'
paths:
  /order/{user_id}:
    post:
      summary: 'Создание заказа'
      parameters:
        - in: path
          name: user_id
          schema:
            type: string
            format: uuid
          required: true
          example: 'f42863b4-19c2-4597-ab68-a355ab8bb41c'
      requestBody:
        content:
          application/json:
           schema:
            $ref: '#/components/schemas/OrderRq'
      responses:
        '201':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderRs'
        '422':
          description: 'Недостаточно средств'
        '500':
          description: 'внутренняя ошибка сервиса'

components:
  schemas:
    OrderRq:
      type: object
      required: 
        - price
        - product
      properties: 
        price: 
          type: integer
          example: 100
          description: 'Стоимость продкута'
        product:
          type: string
          example: 'Молоко'
          description: 'Название продукта'
    OrderRs:
      type: object
      required: 
        - price
        - product
        - number
        - status
        - created_at
      properties: 
        price: 
          type: integer
          example: 100
          description: 'Стоимость продкута'
        product:
          type: string
          example: 'Молоко'
          description: 'Название продукта'
        number:
          type: string
          format: uuid
          example: 'f42863b4-19c2-4597-ab68-a355ab8bb41c'
          description: 'Идентификатор заказа'
        status:
          type: string
          enum:
            - CREATED
            - PAID
            - ERROR
          example: CREATED
          description: 'Статус заказа'
        created_at:
          type: string
          format: date-time
          example: '2026-06-21T12:00:00Z'
          description: 'Дата и время создания заказа'


